@page "/dishDelete/{id:int}"
@inject IDishService DishService
@inject NavigationManager NavigationManager

<h1>Dish Delete</h1>

<p style="color:red; text-align:center">Are you sure want to delete this dish?</p>

<EditForm Model="dish">
    <table class="table">
        <tr>
            <td>Nombre:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="dish.Name" /></td>
        </tr>
        <tr>
            <td>Precio:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="dish.Price" /></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Delete" @onclick="DeleteDish" />
                <input type="button" value="Cancel" @onclick="Cancel" />
            </td>
        </tr>
    </table>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    private Dish dish = new Dish();

    protected override async Task OnInitializedAsync()
    {
        dish = await DishService.GetDishDetails(id);
    }

    protected async Task DeleteDish()
    {
        await DishService.DeleteDish(id);
        NavigationManager.NavigateTo("/");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
