@page "/"
@inject IDishService DishService
<h1>Dishes</h1>

<p>This page shows a list of all dishes.</p>

<div>
    <a href="/dishDetails"><i>Add new dish</i></a>
</div>

@if (dishes == null)
{
    <p><em>Loading. . .</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dish in dishes)
            {
                <tr>
                    <td>@dish.Name</td>
                    <td>@dish.Price</td>
                    <td><a href="/dishDetails/@dish.DishId"><i>Edit</i></a></td>
                    <td><a href="/dishDelete/@dish.DishId"><i>Delet</i></a></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {

    public IEnumerable<Dish> dishes { get; set; }

    public string Message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dishes = await DishService.GetAllDish();

        }
        catch (Exception e)
        {

            Message = e.Message;
        }
    }
}
